// Image config
img
  // Rules
  aspect-ratio: var(--ratio, 1 / 1);
  display: var(--dp, inline-block);
  object-fit: var(--obf, cover);
  object-position: var(--obfp, center center);
  max-width: var(--mwd, fit-content);
  width: var(--wd, 100%);
