// Links item
.links_item
  color: var(--text-color-1);
  font-size: var(--font-size-1);
  font-weight: var(--regular);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-8);
  > a
    --c-h: var(--text-color-0);