// Main title
.main_title
  color: var(--text-color-0);
  font-size: var(--font-size-1);
  font-weight: var(--bold);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-4);
  > a
    --c-h: var(--text-color-4);
