// Name
.name
  color: var(--c, var(--text-color-3));
  font-size: var(--fs, var(--font-size-0));
  font-weight: var(--fw, var(--regular));
  line-height: var(--lh, var(--line-height-2));
  letter-spacing: var(--ls, var(--letter-spacing-1));
  text-decoration: underline;
  transition: text-decoration-color var(--transition-0);
  &:hover
    text-decoration-color: var(--border-color-5);
    text-decoration-thickness: 2px;
