// Published
.published
  color: var(--c, var(--text-color-3));
  font-size: var(--fs, var(--font-size-0));
  font-weight: var(--fw, var(--regular));
  line-height: var(--lh, var(--line-height-1));
  letter-spacing: var(--ls, var(--letter-spacing-2));
  text-transform: var(--tt, uppercase);
