// Secondary title
.secondary_title
  color: var(--c, var(--text-color-0));
  font-size: var(--fs, var(--font-size-3));
  font-weight: var(--fw, var(--bold));
  line-height: var(--lh, var(--line-height-3));
  letter-spacing: var(--ls, var(--letter-spacing-9));
