// Tertiary title
.tertiary_title
  color: var(--c, var(--text-color-0));
  font-size: var(--fs, var(--font-size-1));
  font-weight: var(--fw, var(--semi-bold));
  line-height: var(--lh, var(--line-height-0));
  letter-spacing: var(--ls, var(--letter-spacing-7));
