// Blurb
.blurb
  .secondary_title
    --fs: var(--font-size-2);
    --fw: var(--bold);
    --lh: var(--line-height-1);
    --ls: var(--letter-spacing-6);
    text-transform: uppercase;
  .paragraph
    --c: var(--text-color-3);
    --fs: var(--font-size-2);
    --fw: var(--semi-bold);
    --lh: var(--line-height-4);
    --ls: var(--letter-spacing-0);
