// Post
.post
  --image-size-notebook: 932px;
  --image-size-tablet: 700px;
  --image-size-mobile: 375px;
  --image-size: var(--image-size-mobile);
  // Rules
  > .image
      img
        --ar var(--ratio-post);
        --mxw var(--image-size);
  .title
    .paragraph
      --c: var(--text-color-2);
      --fs: var(--font-size-1);
      --fw: var(--regular);
      --lh: var(--line-height-1);
      --ls: var(--letter-spacing-7);
      text-transform: uppercase;
  .button
    --c-h: var(--text-color-4);
    --bgc-d: var(--bg-color-1);
    --bgc-h: var(--bg-color-2);
    --bc-d: var(--border-color-0);
    --bc-h: var(--border-color-2);
    --mxw: 254px;

// Tablet
@media screen and (min-width: 541px)
  .post
    --image-size: var(--image-size-tablet);
    .secondary_title
      --fs: var(--font-size-4);
      --fw: var(--black);
      --lh: var(--line-height-5);
      --ls: var(--letter-spacing-10);

// Notebook
@media screen and (min-width: 1025px)
  .post
    --image-size: var(--image-size-notebook);
