// Posts
.posts
  --image-size: 75px;
  // Rules
  .image
    img
      --ar var(--ratio-posts);
      --mxw var(--image-size);
  .tertiary_title
    --c: var(--text-color-0);
    --fs: var(--font-size-1);
    --fw: var(--bold);
    --lh: var(--line-height-1);
    --ls: var(--letter-spacing-5);
