// Import of font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

// Import of core
@import "../source/core/design-tokens";
@import "../source/core/layout";

// Import of atoms
@import "../source/components/atoms/img";
@import "../source/components/atoms/a";
@import "../source/components/atoms/button";
@import "../source/components/atoms/disabled";
@import "../source/components/atoms/main-title";
@import "../source/components/atoms/links-item";
@import "../source/components/atoms/secondary-title";
@import "../source/components/atoms/paragraph";
@import "../source/components/atoms/name";
@import "../source/components/atoms/published";
@import "../source/components/atoms/tertiary-title";

// Import of moleules
@import "../source/components/molecules/author";
@import "../source/components/molecules/mini-post";
@import "../source/components/molecules/post";
@import "../source/components/molecules/posts";
@import "../source/components/molecules/blurb";
@import "../source/components/molecules/meta";
@import "../source/components/molecules/pagination";

// Import of organisms
@import "../source/components/organisms/mini-posts";

// Import animations
@import "../source/components/animations/pulse-outline";
